
/* Espaço entre os artigos */
main {
    display: flex;
    flex-direction: column;
    gap: 100px; /* Espaço de 100px entre os artigos (ajuste conforme necessário) */
    align-items: center;
}

/* Estilo do artigo .titulo */
.titulo {
    background-color: #243857;
    display: flex;
    flex-direction: row-reverse;
    width: 100%;  /* Garante que ocupa toda a largura disponível */
    padding-bottom: 50px;  /* Espaço inferior para separar do próximo conteúdo */
}

/* Estilo para a imagem dentro do artigo .titulo */
.titulo img {
    width: 50%;
    height: auto;
    display: flex;
}

/* Estilo do título dentro do .titulo */
.titulo h2 {
    text-align: center;
    display: flex;
    justify-content: center;
    padding-top: 10rem;
    color: white;
    font-family: 'Poppins', sans-serif;  /* Usando a fonte Poppins */
}

/* Estilo do segundo artigo com o fundo e conteúdo */
.Projects {
    background: 
        linear-gradient(180deg, #243857 10%, rgba(39, 48, 99, 0.5)),
        url('imagens/distribuicao-de-cartilhas-ibdn-pb.jpg') no-repeat center center;
    background-size: cover;
    padding: 50px;
    color: white;
    width: 100%;
}

/* Definição de estilo para o conteúdo dentro do artigo .Projects */
.Projects .Projeto {
    display: block;
    text-align: left;
    position: relative;
    width: 20%;
}

.Projects img {
    display: block;
    margin-bottom: 20px;
    width: 100%;
    max-width: 400px;
    height: auto;
}

.texto-left {
    width: 100%;
    max-width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 10px;
    font-size: 1rem;
    font-family: 'Poppins', sans-serif;  /* Usando a fonte Poppins */
}
strong{
    color: rgb(7, 201, 7);
}
.linha-secao {
    display: flex; /* Usando flexbox para alinhar os itens */
    align-items: center; /* Centraliza verticalmente */
    justify-content: center; /* Centraliza horizontalmente */
    margin: 20px 0; /* Espaçamento externo */
    width: 100%; /* Garante que o container ocupe toda a largura */
}

.linha-superior,
.linha-inferior {
    flex-grow: 1; /* Faz a linha ocupar o espaço disponível */
    height: 7px; /* Altura da linha */
    background-color: rgb(7, 201, 7); /* Cor da linha */
    margin: 0 10px; /* Espaçamento lateral entre a linha e a palavra */
}

.palavra-central {
    font-size: 30px; /* Tamanho da palavra central */
    color: rgb(7, 201, 7); /* Cor do texto */
    font-weight: bold; /* Negrito */
    white-space: nowrap; /* Impede a quebra de linha na palavra */
    text-align: center; /* Garante que o texto esteja centralizado */
    font-family: 'Poppins', sans-serif;  /* Usando a fonte Poppins */
}
.div_geral {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

/*cartilhas*/
.Cartilhas_projetos{
    margin-top: 5rem;
}
.subtitulo-cartilhas{
    max-width: 300px;

}

.Cartilhas {text-align: center; font-size: 40px; }
.titulo { text-transform: uppercase; font-size: 40px; }
.carousel {
    position: relative;
    max-width: 300px;
    margin: 0 auto;
    overflow: hidden;
}
.carrosel{
    max-width: 200px;
}
.carousel-inner {
    display: flex;
    transition: transform 0.5s ease-in-out;
}
.carousel-item {
    min-width: 100%;
    transition: opacity 0.5s ease-in-out;
}
.carousel-item img {
    width: 100%; 
    max-width: 350px; 
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}
.carousel-control {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(255, 255, 255, 0.7);
    border: none;
    font-size: 30px;
    cursor: pointer;
    padding: 10px;
    border-radius: 70%;
    z-index: 10;
}
.carousel-control.prev {
    left: 10px;
}
.carousel-control.next {
    right: 10px;
}


/*escolas*/
.Escolas {
    display: flex;
    justify-content: space-between;
    margin-top: 7rem;
    margin-left: 3rem;
    margin-right: 3rem;
    position: relative;
}

/* Definindo a animação de deslizamento */
@keyframes slideIn {
    0% {
        transform: translateX(100%); /* Começa fora da tela à direita */
        opacity: 0; /* Inicialmente invisível */
    }
    100% {
        transform: translateX(0); /* Move para a posição final */
        opacity: 1; /* Torna a imagem visível */
    }
}

/* Aplicando o efeito às imagens */
.Escola_1 img, .Escola_2 img, .Escola_3 img {
    width: 100%;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1); /* Sombra suave */
    opacity: 0; /* Começa invisível */
    transform: translateX(100%); /* Começa fora da tela */
    transition: opacity 2.5s ease, transform 1.5s ease; /* Transição mais lenta */
}

/* Adicionando um atraso diferente para cada imagem para um efeito em sequência */
.Escola_1.in-view img {
    transform: translateX(0); /* Quando entra na tela, move para a posição */
    opacity: 1; /* Torna visível */
}

.Escola_2.in-view img {
    transform: translateX(0);
    opacity: 1;
}

.Escola_3.in-view img {
    transform: translateX(0);
    opacity: 1;
}

/*NUMEROS*/
/* Centraliza o título e o texto */
.Protetores_Titulo {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background: 
        linear-gradient(180deg, #243857 10%, rgba(39, 48, 99, 0.5)),
        url('imagens/bg-atitude-limpa.jpg') no-repeat center center;
    background-size: cover;
    padding: 50px;
    color: white;
    width: 100%;
    font-family: 'Poppins', sans-serif;  /* Usando a fonte Poppins */
}
.Texto_Protetores{
    font-family: 'Poppins', sans-serif;
}

.real_titulo h2 {
    color: rgb(7, 201, 7);
    font-size: 24px;
    margin-bottom: 20px;
    font-weight: bold;
    border-bottom: 3px solid rgb(7, 201, 7);
    padding-bottom: 10px;
}

.numeros-container {
    text-align: center;
    max-width: 1200px;
    margin: 50px auto;
    background-color: white;
    border-radius: 15px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.numeros-container .titulo_nossonumero h2 {
    color: #1A76D1;
    font-size: 24px;
    margin-bottom: 20px;
    font-weight: bold;
    border-bottom: 3px solid #1A76D1;
    padding-bottom: 10px;
}
.numeros-item {
    display: inline-block;
    width: 28%;
    margin: 0 1%;
    vertical-align: top;
    text-align: center;
}
.numeros-item img {
    max-width: 100%;
    height: auto;
}
.numeros-item p {
    color: #FFC107;
    font-size: 18px;
    font-weight: bold;
    margin: 10px 0 5px;
}
.numeros-item span {
    color: #666;
    font-size: 14px;
}

/*PROJETOS QUE INSPIRAM*/
.natureeco {
    background-color: transparent;
    background: 
        linear-gradient(rgba(2, 12, 0, 0.377), #2D4818),    
        url('imagens/natureeco.jpg'); 
    color: white;
    background-attachment: fixed;
    background-size: cover;
    padding-bottom: 10rem;
}
.natureeco .linha-secao{
    padding-top: 2rem;
}
.textonature {
    font-size: 40px;
    color: #ffc800;
    text-align: center;
    margin: 20px 0; 
    font-weight: 100;
    
}
.nature {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.nature a {
    display: contents;
}
.nature img {
    height: auto;
    width: 10%;
    
}

.texto2nature {
    font-size: 16px; 
    text-align: center;  
    padding-top: 3rem;
    max-width: 1140px;
    color: #ffffff;
}
.texto2nature h3 {
    font-size: 19px;
}


/* aqui começa o article com info tooltip*/
.slide {
    max-width: 100%;
    width: auto;
    height: 50%;
    display: flex;
    justify-content: center;
}

.pagina1, .pagina2, .pagina3, .pagina4 {
    width: 200px;
    height: 340px;
    margin: 10px;
    border-radius: 10px;
    transition: width 0.5s;
    display: flex;
    flex-direction: row;
    background-position: 30%;
    background-size: cover;
    position: relative;
    box-shadow: 0 35px 80px rgb(17, 16, 16);
}

/* Esconde o texto inicialmente */
.descricao {
    display: none;
    padding: 3rem;
    position: absolute;
    top: 0;
    left: 170px;
    width: 350px;
    height: 100px; /* Preenche a altura da caixa */
    border-radius: 10px;
    flex-direction: column;
    
}

/* Mostra o texto ao passar o mouse sobre a página */
.pagina1:hover .descricao {
    display: flex;
    padding: 10px ;
}
.desc-texto{
    display: flex;
    flex-direction: row;
    padding: 10px;
}
.logo-par img{
    position: absolute;
    width: 100%;
    max-width: 200px;
    height: auto;
    margin-top: 5rem;
    padding: 20px;

}
.pagina1:hover {
    width: 550px;
    background-position: center center; 
    background-size: contain;
}
.pagina1 {
    background-size: cover;
    background-position: center ;
    background-color: #1abc9c;
    background-image: linear-gradient(180deg, #707070AD, 90%, rgba(32, 29, 29, 0.705)),
    url(imagens/protetores-logo-\(1\).png);
    background-repeat: no-repeat;
    background-size: 100%;
    transition: width 0.5s ,background-position 1s ease-in-out ;
}
.pagina2{
    background-size: cover;
    background-image: linear-gradient(180deg, rgba(70, 58, 58, 0.726) 90%, rgba(43, 38, 38, 0.705)),
    url(imagens/background-protetores.png);
    background-color: transparent;
}
.pagina3 {
    background-size: cover;
    background-image: linear-gradient(180deg, rgba(70, 58, 58, 0.726) 90%, rgba(43, 38, 38, 0.705)),
    url(imagens/peca-de-teatro-ibdn.png);
    background-color: transparent;
}
.pagina4 {
    background-size: cover;
    background-image: linear-gradient(180deg, rgba(43, 37, 37, 0.644) 90%, rgba(43, 38, 38, 0.705)),
    url(imagens/jardim-dos-sentidos1.jpg);
    background-color: transparent;
}

.pagina2:hover, .pagina3:hover, .pagina4:hover {
    width: 500px; /* Expande ao passar o mouse */
}
.botao-link {
    display: flex; /* Permite que o botão tenha tamanho automático */
    margin-top: 10px; /* Espaço acima do botão */
    padding: 5px; /* Adiciona um pequeno preenchimento */
    background-color: #4CAF50;
    color: white;
    text-decoration: none;
    border-radius: 8px;
    font-weight: bold;
    text-align: center;
    justify-content: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
}

.botao-link:hover {
    background-color: #84d488; /* Muda a cor ao passar o mouse */
}

.pagina2:hover .descricao2 {
    display: flex;
}
.pagina2 img{
    margin-left: 10px;
    margin-top: 4rem;
    width: 180px;
    height: 200px;
    
}

.pagina2:hover {
    width: 580px;
}
.descricao2 {
    display: none;
    padding: 13px;
    position: absolute;
    top: 0;
    left: 200px;
    width: 350px;
    height: 100px; /* Preenche a altura da caixa */
    border-radius: 10px;
    flex-direction: column;
}
.pagina3:hover .descricao3 {
    display: flex;
}
.pagina3:hover {
    width: 550px;
}
.pagina3 img {
    margin-top: 5rem;
}
.descricao3 {
    display: none;
    padding: 10px;
    position: absolute;
    top: 0;
    left: 200px;
    width: 310px;
    height: 100px; /* Preenche a altura da caixa */
    border-radius: 10px;
    flex-direction: column;
    padding-top: 2rem;
}
.pagina3 .botao-link {
    margin-top: 2rem;
}
.pagina4:hover .descricao4 {
    display: flex;
}
.pagina4:hover {
    width: 550px;
}
.pagina4 img {
    margin-top: 5rem;
    width: 200px;
    height: 170px;
}
.descricao4 {
    display: none;
    padding: 4px;
    position: absolute;
    margin-top: 2rem;
    left: 200px;
    width: 310px;
    height: 100px; /* Preenche a altura da caixa */
    border-radius: 10px;
    flex-direction: column;
}
.pagina4 .botao-link {
    margin-top: 3.5rem;
}







